html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: "HelveticaNeue Bold"; src: url("fonts/helveticaneuecyr-bold.eot"); src: url("fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("fonts/helveticaneuecyr-bold.woff") format("woff"), url("fonts/helveticaneuecyr-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeue Medium"; src: url("fonts/helveticaneuecyr-medium.eot"); src: url("fonts/helveticaneuecyr-medium.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-medium.woff2") format("woff2"), url("fonts/helveticaneuecyr-medium.woff") format("woff"), url("fonts/helveticaneuecyr-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeue Roman"; src: url("fonts/HelveticaNeueCyr-Reg.eot"); src: url("fonts/HelveticaNeueCyr-Reg.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Reg.woff2") format("woff2"), url("fonts/HelveticaNeueCyr-Reg.woff") format("woff"), url("fonts/HelveticaNeueCyr-Reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeue Light"; src: url("fonts/helveticaneuecyr-light.eot"); src: url("fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-light.woff2") format("woff2"), url("fonts/helveticaneuecyr-light.woff") format("woff"), url("fonts/helveticaneuecyr-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6, b, strong { font-weight: normal; }

a { text-decoration: none; }

h2 { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 42px; line-height: 1.2; letter-spacing: -0.025em; }
@media only screen and (max-width: 980px) { h2 { font-size: 36px; } }
@media only screen and (max-width: 640px) { h2 { font-size: 21px; } }

h3 { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 32px; line-height: 1.2; }
@media only screen and (max-width: 980px) { h3 { font-size: 36px; } }
@media only screen and (max-width: 640px) { h3 { font-size: 18px; } }

.arr-bot { background: none; border: none; background: url('../img/icons-s09d96fe78c.png') 0 0 no-repeat; width: 45px; height: 27px; display: block; margin: 0 auto 15px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; clear: both; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.out { min-width: 320px; margin: 0 auto; overflow: hidden; padding: 110px 0 0; }
@media only screen and (max-width: 980px) { .out { padding: 165px 0 0; } }
@media only screen and (max-width: 640px) { .out { padding: 47px 0 0; } }
@media only screen and (max-width: 980px) { .out_header { padding: 205px 0 0; } }
@media only screen and (max-width: 640px) { .out_header { padding: 45px 0 0; } }
@media only screen and (max-width: 980px) { .out_header .header { height: 203px; } }
@media only screen and (max-width: 640px) { .out_header .header { height: 45px; } }
@media only screen and (max-width: 980px) { .out_header .search__filter { padding-bottom: 0; } }

.inner { max-width: 940px; padding: 0 24px; margin: 0 auto; *zoom: 1; position: relative; }
.inner:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 980px) { .inner { padding: 0 12px; } }

.header { border-bottom: 2px solid #dddddd; position: fixed; top: 0; left: 0; right: 0; background: white; z-index: 500; -moz-transition: all 0.6s; -o-transition: all 0.6s; -webkit-transition: all 0.6s; transition: all 0.6s; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
@media only screen and (max-width: 980px) { .header { text-align: center; height: 165px; } }
@media only screen and (max-width: 640px) { .header { height: 45px; } }
.header.is-hidden { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); }
.header .inner { max-width: 1400px; padding: 20px 24px; }
@media only screen and (max-width: 1360px) { .header .inner { max-width: 940px; } }
@media only screen and (max-width: 980px) { .header .inner { padding: 20px 12px 20px; } }
@media only screen and (max-width: 640px) { .header .inner { padding: 0 80px; } }
.header .search { width: 492px; padding: 15px 0 0; }
@media only screen and (max-width: 640px) { .header .search { display: none; } }
.header__right { float: right; }
@media only screen and (max-width: 980px) { .header__right { float: none; display: inline-block; vertical-align: top; } }
@media only screen and (max-width: 640px) { .header__right { width: 0; height: 0; float: right; } }

.logo { width: 32%; max-width: 210px; text-align: center; font-size: 0; float: left; }
.logo:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 980px) { .logo { display: block; width: 100%; margin: 0 auto; float: none; } }
@media only screen and (max-width: 640px) { .logo { max-width: 90px; padding: 5px; } }
.logo a { display: inline-block; vertical-align: middle; width: 100%; }
@media only screen and (max-width: 980px) { .logo a { max-width: 180px; } }
.logo a img { width: 100%; }

.search { float: right; width: 100%; position: relative; padding: 20px 0 25px; *zoom: 1; }
.search:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 980px) { .search { padding: 20px 0 0; } }
.search__inner { position: relative; }
.search__input { width: 100%; padding: 11px 40px 9px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 16px; border: 1px solid #dddddd; }
@media only screen and (max-width: 640px) { .search__input { padding: 8px 30px 7px 7px; font-size: 11px; } }
.search__input:focus, .search__input.is-active { border-color: #18c5fe; }
.search__btn, .search .btn-search { position: absolute; top: 50%; right: 11px; margin-top: -9px; background: url("../img/svg/search.svg") no-repeat 0 0; -moz-background-size: 18px 18px; -o-background-size: 18px 18px; -webkit-background-size: 18px 18px; background-size: 18px 18px; width: 18px; height: 18px; display: inline-block; }
@media only screen and (max-width: 980px) { .search__btn, .search .btn-search { background: url("../img/svg/search.svg") no-repeat 0 0; -moz-background-size: 17px 17px; -o-background-size: 17px 17px; -webkit-background-size: 17px 17px; background-size: 17px 17px; width: 17px; height: 17px; display: inline-block; margin-top: -8.5px; } }
.search__filter { font-size: 0; text-align: right; padding: 17px 0 0; float: right; }
@media only screen and (max-width: 980px) { .search__filter { width: 100%; float: none; text-align: justify; padding: 17px 0; } }
.search__filter:after { content: ""; width: 100%; display: none; }
@media only screen and (max-width: 980px) { .search__filter:after { display: inline-block; } }
.search__filter li { display: inline-block; vertical-align: top; margin: 0 0 0 10px; }
@media only screen and (max-width: 980px) { .search__filter li { margin: 0; } }
.search__filter li a { font-family: "HelveticaNeue Medium", Helvetica, sans-serif; font-size: 12px; color: #d1d1d1; text-transform: uppercase; }
@media only screen and (max-width: 980px) { .search__filter li a { font-size: 22px; } }
@media only screen and (max-width: 640px) { .search__filter li a { font-size: 12px; } }
.search__filter li a:hover, .search__filter li a.is-active { color: #00baff; }
.search__date { float: left; font-size: 0; padding: 16px 0 0; }
@media only screen and (max-width: 980px) { .search__date { width: 100%; float: none; border-bottom: 1px solid #dddddd; padding: 16px 0; } }
.search__date li { display: inline-block; vertical-align: top; margin: 0 20px 0 0; }
@media only screen and (max-width: 980px) { .search__date li { margin: 0; width: 50%; text-align: center; } }
.search__date li span, .search__date li input { display: inline-block; font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 14px; line-height: 1; color: #8d8d8d; text-transform: uppercase; cursor: pointer; }
@media only screen and (max-width: 980px) { .search__date li span, .search__date li input { font-size: 22px; } }
@media only screen and (max-width: 640px) { .search__date li span, .search__date li input { font-size: 12px; } }
.search__date li input { width: 70px; padding: 0 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 980px) { .search__date li input { width: 100px; } }
@media only screen and (max-width: 640px) { .search__date li input { width: 60px; } }
.search__date li label { padding: 0 10px 0 0; display: inline-block; position: relative; cursor: pointer; }
.search__date li label:before { content: ""; position: absolute; top: 50%; right: 0; margin-top: -2px; width: 0px; height: 0px; border-style: solid; border-width: 4px 4px 0 4px; border-color: #666666 transparent transparent transparent; }
.search__date li label input:focus + span { color: #18c5fe; }
.search__block { border: 1px solid #ededed; margin-top: -1px; padding: 20px 18px 18px; display: none; }
.search__block.is-active { display: block; }
@media only screen and (max-width: 980px) { .search__block { margin-bottom: 15px; } }
@media only screen and (max-width: 640px) { .search__block { padding: 10px 9px 9px; } }
.search__tags { padding: 18px 0 0; }
@media only screen and (max-width: 640px) { .search__tags { padding: 9px 0 0; } }
.search__tags li { display: inline-block; vertical-align: top; margin: 0 5px 0 0; }
.search__tags li a { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 16px; color: #8d8d8d; text-transform: uppercase; }
@media only screen and (max-width: 980px) { .search__tags li a { font-size: 22px; } }
@media only screen and (max-width: 640px) { .search__tags li a { font-size: 12px; } }
.search__tags li a:hover { color: #00baff; font-family: "HelveticaNeue Bold", Helvetica, sans-serif; }

.btn-search { position: absolute; top: 50%; right: 12px; margin-top: -9px; background: url("../img/svg/search.svg") no-repeat 0 0; -moz-background-size: 18px 18px; -o-background-size: 18px 18px; -webkit-background-size: 18px 18px; background-size: 18px 18px; width: 18px; height: 18px; display: inline-block; display: none; }
@media only screen and (max-width: 640px) { .btn-search { display: block; } }

.btn-nav { float: right; margin: 23px 0 0 20px; background: none; border: none; cursor: pointer; position: relative; width: 28px; height: 24px; display: none; }
@media only screen and (max-width: 1360px) { .btn-nav { display: block; } }
@media only screen and (max-width: 640px) { .btn-nav { position: absolute; top: 50%; left: 12px; margin: -12px 0 0; } }
.btn-nav i { position: absolute; top: 50%; left: 0; margin-top: -2px; width: 100%; height: 4px; background: #d1d1d1; }
.btn-nav i:before, .btn-nav i:after { content: ""; position: absolute; width: 100%; height: 4px; background: #d1d1d1; left: 0; }
.btn-nav i:before { top: -10px; }
.btn-nav i:after { bottom: -10px; }

.nav { float: right; font-size: 0; padding: 28px 0 0 30px; display: block; }
@media only screen and (max-width: 1360px) { .nav { display: none; } }
.nav li { display: inline-block; vertical-align: top; margin: 0 0 0 22px; }
@media only screen and (max-width: 1360px) { .nav li { display: block; margin: 0 0 10px; } }
.nav a { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 14px; line-height: 1; color: #494949; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; text-transform: uppercase; text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.7); }
@media only screen and (max-width: 1360px) { .nav a { color: white; text-shadow: none; } }
.nav a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.sticker { max-width: 940px; margin: 0 auto; background: #f4f4f4; }
.sticker p { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 14px; line-height: 1.3; color: #242424; padding: 10px 20px; }
@media only screen and (max-width: 640px) { .sticker p { padding: 10px 12px; font-size: 9px; } }

.tags { font-size: 0; margin-bottom: 20px; }
.tags li { display: inline-block; vertical-align: top; margin: 0 10px 10px 0; }
@media only screen and (max-width: 640px) { .tags li { margin: 0 5px 5px 0; } }
.tags li a { padding: 9px 30px 8px 10px; position: relative; font-family: "HelveticaNeue Medium", Helvetica, sans-serif; font-size: 17px; line-height: 1; color: #4e4e4e; background: #f7fdff; border: 2px solid #18c5fe; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display: block; text-transform: uppercase; }
@media only screen and (max-width: 640px) { .tags li a { padding: 4.5px 15px 3px 5px; font-size: 8.5px; border-width: 1px; } }
.tags li a:before { content: ""; position: absolute; top: 10.5px; right: 10px; background: url('../img/icons-s09d96fe78c.png') 0 -178px no-repeat; width: 13px; height: 13px; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
@media only screen and (max-width: 640px) { .tags li a:before { width: 6.5px; height: 6.5px; background: url(../img/icons/t-close.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-top: -5px; right: 5px; } }

.tabs { font-size: 0; margin: 0 -1px; }
.tabs li { display: inline-block; vertical-align: top; width: 25%; padding: 0 1px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 640px) { .tabs li { padding: 0 0.5px; } }
.tabs li a { background: #ededed; border: 1px solid #ededed; display: block; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 24px; line-height: 1; color: #8d8d8d; padding: 13px 0 11px 0; text-transform: uppercase; text-align: center; }
@media only screen and (max-width: 640px) { .tabs li a { font-size: 12px; padding: 7px 0 6px; } }
.tabs li a.is-active { background: #00baff; color: white; }

.banner { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; min-height: 320px; position: relative; }
@media only screen and (max-width: 640px) { .banner { min-height: 220px; } }
.banner_big { min-height: 475px; margin-bottom: 18px; }
@media only screen and (max-width: 640px) { .banner_big { min-height: 265px; } }
.banner:before { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; content: ""; }
.banner__inner { position: absolute; bottom: 0; left: 0; right: 0; }
.banner__info { max-width: 620px; margin: 0 auto; padding: 15px 24px 15px; }
@media only screen and (max-width: 980px) { .banner__info { padding: 15px 12px 15px; } }
.banner h3, .banner p { color: white; }
.banner h3 { margin-bottom: 10px; }
.banner p { font-family: "HelveticaNeue Light", Helvetica, sans-serif; font-size: 18px; line-height: 1.2; }
@media only screen and (max-width: 640px) { .banner p { font-size: 10px; } }

.posts { background-image: -moz-linear-gradient(bottom, white 0%, white 12%, white 14%, #f3f3f3 100%); background-image: -o-linear-gradient(bottom, white 0%, white 12%, white 14%, #f3f3f3 100%); background-image: -webkit-linear-gradient(bottom, white 0%, white 12%, white 14%, #f3f3f3 100%); background-image: linear-gradient(to top, #ffffff 0%, #ffffff 12%, #ffffff 14%, #f3f3f3 100%); padding-bottom: 20px; }

.post { border-bottom: 1px solid #dddddd; }
.post__inner { max-width: 622px; margin: 0 auto; padding: 17px 24px 10px; }
@media only screen and (max-width: 980px) { .post__inner { padding: 20px 12px 20px; } }
@media only screen and (max-width: 640px) { .post__inner { padding: 8.5px 12px 5px; } }
.post time { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 18px; color: #949494; padding: 10px 0 7px; display: block; }
@media only screen and (max-width: 980px) { .post time { font-size: 20px; } }
@media only screen and (max-width: 640px) { .post time { font-size: 9px; } }
.post p { font-family: Georgia, sans-serif; color: #494949; font-size: 20px; line-height: 1.3; }
@media only screen and (max-width: 980px) { .post p { font-size: 22px; } }
@media only screen and (max-width: 640px) { .post p { font-size: 12px; } }
.post p a { color: #00c0ff; }
.post p b { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; color: black; }
.post__info { padding-bottom: 13px; }
.post__info p { cursor: pointer; }
@media only screen and (max-width: 640px) { .post__info { padding-bottom: 7px; } }
.post__bottom { padding: 25px 0 10px; *zoom: 1; display: none; }
.post__bottom:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 640px) { .post__bottom { padding: 12.5px 0 5px; } }
.post .social { margin: 0 15px 0 0; float: left; padding: 8px 0 0; }
@media only screen and (max-width: 980px) { .post .social { margin: 0 15px 10px 0; } }
@media only screen and (max-width: 640px) { .post .social { padding: 5px 0 0; } }
.post .p-tags { display: inline-block; vertical-align: top; padding: 14px 0 0; }
@media only screen and (max-width: 980px) { .post .p-tags { display: block; clear: both; } }
.post .link { float: right; }
.post__top { padding: 0 0 10px; position: relative; }
.post__top:before { content: ""; position: absolute; top: 0; right: 0; width: 0px; height: 0px; border-style: solid; border-width: 0 43px 43px 0; border-color: transparent #00c0ff transparent transparent; }
.post__top a { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 20px; color: #00c0ff; text-transform: uppercase; }

.social { font-size: 0; }
.social li { display: inline-block; vertical-align: top; margin-right: 5px; }
.social a { display: inline-block; vertical-align: top; }
.social a.is-fb { background: url("../img/svg/fb.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; }
@media only screen and (max-width: 980px) { .social a.is-fb { background: url("../img/svg/fb.svg") no-repeat 0 0; -moz-background-size: 44px 44px; -o-background-size: 44px 44px; -webkit-background-size: 44px 44px; background-size: 44px 44px; width: 44px; height: 44px; display: inline-block; } }
@media only screen and (max-width: 640px) { .social a.is-fb { background: url("../img/svg/fb.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; } }
.social a.is-tw { background: url("../img/svg/tw.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; }
@media only screen and (max-width: 980px) { .social a.is-tw { background: url("../img/svg/tw.svg") no-repeat 0 0; -moz-background-size: 44px 44px; -o-background-size: 44px 44px; -webkit-background-size: 44px 44px; background-size: 44px 44px; width: 44px; height: 44px; display: inline-block; } }
@media only screen and (max-width: 640px) { .social a.is-tw { background: url("../img/svg/tw.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; } }
.social a.is-in { background: url("../img/svg/in.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; }
@media only screen and (max-width: 980px) { .social a.is-in { background: url("../img/svg/in.svg") no-repeat 0 0; -moz-background-size: 44px 44px; -o-background-size: 44px 44px; -webkit-background-size: 44px 44px; background-size: 44px 44px; width: 44px; height: 44px; display: inline-block; } }
@media only screen and (max-width: 640px) { .social a.is-in { background: url("../img/svg/in.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; } }
.social a.is-vk { background: url("../img/svg/vk.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; }
@media only screen and (max-width: 980px) { .social a.is-vk { background: url("../img/svg/vk.svg") no-repeat 0 0; -moz-background-size: 44px 44px; -o-background-size: 44px 44px; -webkit-background-size: 44px 44px; background-size: 44px 44px; width: 44px; height: 44px; display: inline-block; } }
@media only screen and (max-width: 640px) { .social a.is-vk { background: url("../img/svg/vk.svg") no-repeat 0 0; -moz-background-size: 24px 24px; -o-background-size: 24px 24px; -webkit-background-size: 24px 24px; background-size: 24px 24px; width: 24px; height: 24px; display: inline-block; } }
.social a.is-ok { background: url('../img/icons-s09d96fe78c.png') 0 -121px no-repeat; width: 24px; height: 24px; }
@media only screen and (max-width: 980px) { .social a.is-ok { background: url('../img/icons-s09d96fe78c.png') 0 -67px no-repeat; width: 44px; height: 44px; } }
@media only screen and (max-width: 640px) { .social a.is-ok { background: url('../img/icons-s09d96fe78c.png') 0 -121px no-repeat; width: 24px; height: 24px; } }

.p-tags { font-size: 0; }
.p-tags li { display: inline-block; vertical-align: top; margin-right: 10px; }
.p-tags li a { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 12px; color: #18c5fe; text-transform: uppercase; }
@media only screen and (max-width: 980px) { .p-tags li a { font-size: 18px; } }
@media only screen and (max-width: 640px) { .p-tags li a { font-size: 11px; } }

.link { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 14px; color: #cfcfcf; border: 1px solid #dddddd; padding: 11px 10px; width: 100%; max-width: 140px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: top; background: white; }
@media only screen and (max-width: 980px) { .link { padding: 17px 12px 16px; font-size: 22px; max-width: 286px; } }
@media only screen and (max-width: 640px) { .link { padding: 9px 8px; font-size: 12px; max-width: 130px; } }

.video { width: 100%; height: 540px; max-width: 940px; margin: 0 auto; position: relative; }
@media only screen and (max-width: 980px) { .video { height: 400px; } }
@media only screen and (max-width: 640px) { .video { height: 180px; } }
.video iframe { width: 100%; height: 100%; }

.video-wrap { max-width: 940px; margin: 0 auto; position: relative; }
.video-wrap h2 { position: absolute; bottom: 90px; left: 15px; color: white; width: 70%; }
@media only screen and (max-width: 640px) { .video-wrap h2 { position: static; color: #494949; padding: 12px; } }

.nav-mob { display: none; position: absolute; top: 100%; right: 0; -moz-transition: left 0.4s, right 0.4s; -o-transition: left 0.4s, right 0.4s; -webkit-transition: left 0.4s, right 0.4s; transition: left 0.4s, right 0.4s; background: rgba(0, 0, 0, 0.8); padding: 20px; width: 210px; text-align: right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 100; }
@media only screen and (max-width: 1360px) { .nav-mob { display: block; right: -210px; } }
@media only screen and (max-width: 980px) { .nav-mob { right: auto; left: -210px; text-align: left; } }
.nav-mob.is-active { display: block; }
@media only screen and (max-width: 1360px) { .nav-mob.is-active { right: 0; } }
@media only screen and (max-width: 980px) { .nav-mob.is-active { left: 0; } }
.nav-mob a { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 14px; line-height: 1; color: #494949; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; text-transform: uppercase; text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.7); }
@media only screen and (max-width: 1360px) { .nav-mob a { color: white; text-shadow: none; } }
.nav-mob a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.more .arr-bot { margin: 0 auto; }

.chosen-container { position: relative; display: inline-block; vertical-align: middle; font-size: 13px; zoom: 1; -webkit-user-select: none; -moz-user-select: none; user-select: none; width: 100%; text-align: left; }
.chosen-container * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.chosen-container .chosen-drop { position: absolute; top: 100%; left: -9999px; z-index: 1010; width: 100%; padding: 6px 5px 2px 5px; border: 1px solid #18c5fe; background: white; margin-top: 7px; }
.chosen-container.chosen-with-drop .chosen-drop { left: 0; }
.chosen-container a { cursor: pointer; }

.chosen-container-single .chosen-single { position: relative; display: block; overflow: hidden; padding: 0 0 0 8px; height: 25px; border: 1px solid #aaaaaa; border-radius: 5px; background-color: white; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4)); background: -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); background: -moz-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); background: -o-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); background: linear-gradient(to bottom, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); background-clip: padding-box; box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1); color: #444444; text-decoration: none; white-space: nowrap; line-height: 24px; }
.chosen-container-single .chosen-default { color: #999999; }
.chosen-container-single .chosen-single span { display: block; overflow: hidden; margin-right: 26px; text-overflow: ellipsis; white-space: nowrap; }
.chosen-container-single .chosen-single-with-deselect span { margin-right: 38px; }
.chosen-container-single .chosen-single abbr { position: absolute; top: 6px; right: 26px; display: block; width: 12px; height: 12px; background: url("chosen-sprite.png") -42px 1px no-repeat; font-size: 1px; }
.chosen-container-single .chosen-single abbr:hover { background-position: -42px -10px; }
.chosen-container-single.chosen-disabled .chosen-single abbr:hover { background-position: -42px -10px; }
.chosen-container-single .chosen-single div { position: absolute; top: 0; right: 0; display: block; width: 18px; height: 100%; }
.chosen-container-single .chosen-single div b { display: block; width: 100%; height: 100%; background: url("chosen-sprite.png") no-repeat 0px 2px; }
.chosen-container-single .chosen-search { position: relative; z-index: 1010; margin: 0; padding: 3px 4px; white-space: nowrap; }
.chosen-container-single .chosen-search input[type="text"] { margin: 1px 0; padding: 4px 20px 4px 5px; width: 100%; height: auto; outline: 0; border: 1px solid #aaaaaa; background: white url("chosen-sprite.png") no-repeat 100% -20px; background: url("chosen-sprite.png") no-repeat 100% -20px; font-size: 1em; font-family: sans-serif; line-height: normal; border-radius: 0; }
.chosen-container-single .chosen-drop { margin-top: -1px; border-radius: 0 0 4px 4px; background-clip: padding-box; }
.chosen-container-single.chosen-container-single-nosearch .chosen-search { position: absolute; left: -9999px; }

.chosen-container .chosen-results { color: #444444; position: relative; overflow-x: hidden; overflow-y: auto; margin: 0 4px 4px 0; padding: 0 0 0 4px; max-height: 240px; -webkit-overflow-scrolling: touch; }
.chosen-container .chosen-results li { display: none; margin: 0; padding: 5px 6px; list-style: none; line-height: 15px; word-wrap: break-word; -webkit-touch-callout: none; }
.chosen-container .chosen-results li.active-result { display: inline-block; cursor: pointer; padding: 5px 30px 5px 5px; position: relative; font-family: "HelveticaNeue Medium", Helvetica, sans-serif; font-size: 14px; line-height: 1; color: #4e4e4e; background: #f7fdff; border: 2px solid #18c5fe; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; text-transform: uppercase; margin: 0 5px 5px 0; }
@media only screen and (max-width: 640px) { .chosen-container .chosen-results li.active-result { padding: 4.5px 15px 3px 5px; font-size: 8.5px; border-width: 1px; } }
.chosen-container .chosen-results li.active-result:hover:before { background: url('../img/icons-s09d96fe78c.png') 0 -155px no-repeat; width: 13px; height: 13px; }
@media only screen and (max-width: 640px) { .chosen-container .chosen-results li.active-result:hover:before { background: url(../img/icons/t-close.png) no-repeat; } }
.chosen-container .chosen-results li.active-result:before { content: ""; position: absolute; top: 6px; right: 10px; background: url('../img/icons-s09d96fe78c.png') 0 -178px no-repeat; width: 13px; height: 13px; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
@media only screen and (max-width: 640px) { .chosen-container .chosen-results li.active-result:before { width: 6.5px; height: 6.5px; background: url(../img/icons/t-close.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-top: -5px; right: 5px; } }
.chosen-container .chosen-results li.disabled-result { display: list-item; color: #cccccc; cursor: default; }
.chosen-container .chosen-results li.highlighted { background-color: #18c5fe; color: white; }
.chosen-container .chosen-results li.highlighted:before { background: url('../img/icons-s09d96fe78c.png') 0 -155px no-repeat; width: 13px; height: 13px; }
@media only screen and (max-width: 640px) { .chosen-container .chosen-results li.highlighted:before { background: url(../img/icons/t-close.png) no-repeat; } }
.chosen-container .chosen-results li.no-results { color: #777777; display: list-item; background: #f4f4f4; }
.chosen-container .chosen-results li.group-result { display: list-item; font-weight: bold; cursor: default; }
.chosen-container .chosen-results li.group-option { padding-left: 15px; }
.chosen-container .chosen-results li em { font-style: normal; text-decoration: underline; }

.chosen-container-multi .chosen-choices { position: relative; overflow: hidden; margin: 0; width: 100%; height: auto !important; height: 1%; cursor: text; width: 100%; padding: 6px 40px 1px 6px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 16px; border: 1px solid #dddddd; white-space: nowrap; }
@media only screen and (max-width: 640px) { .chosen-container-multi .chosen-choices { padding: 8px 30px 7px 7px; font-size: 11px; } }
.chosen-container-multi .chosen-choices:focus, .chosen-container-multi .chosen-choices.is-active { border-color: #18c5fe; }
.chosen-container-multi .chosen-choices li { list-style: none; }
.chosen-container-multi .chosen-choices li.search-field { margin: 0; padding: 1px 0 5px; white-space: nowrap; display: inline-block; }
.chosen-container-multi .chosen-choices li.search-field input[type="text"] { margin: 1px 0; padding: 0; height: 25px; outline: 0; border: 0 !important; background: transparent !important; box-shadow: none; color: #999999; font-size: 100%; font-family: sans-serif; line-height: normal; border-radius: 0; }
.chosen-container-multi .chosen-choices li.search-choice { display: inline-block; cursor: pointer; padding: 5px 30px 5px 5px; position: relative; font-family: "HelveticaNeue Medium", Helvetica, sans-serif; font-size: 14px; line-height: 1; color: #4e4e4e; background: #f7fdff; border: 2px solid #18c5fe; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; text-transform: uppercase; margin: 0 5px 5px 0; }
@media only screen and (max-width: 640px) { .chosen-container-multi .chosen-choices li.search-choice { padding: 4.5px 15px 3px 5px; font-size: 8.5px; border-width: 1px; } }
.chosen-container-multi .chosen-choices li.search-choice:hover { background: #18c5fe; color: white; }
.chosen-container-multi .chosen-choices li.search-choice:hover .search-choice-close { background: url('../img/icons-s09d96fe78c.png') 0 -155px no-repeat; width: 13px; height: 13px; }
@media only screen and (max-width: 640px) { .chosen-container-multi .chosen-choices li.search-choice:hover .search-choice-close { background: url(../img/icons/t-close.png) no-repeat; } }
.chosen-container-multi .chosen-choices li.search-choice span { word-wrap: break-word; }
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close { position: absolute; top: 5px; right: 10px; background: url('../img/icons-s09d96fe78c.png') 0 -178px no-repeat; width: 13px; height: 13px; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
@media only screen and (max-width: 640px) { .chosen-container-multi .chosen-choices li.search-choice .search-choice-close { width: 6.5px; height: 6.5px; background: url(../img/icons/t-close.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-top: -5px; right: 5px; } }
.chosen-container-multi .chosen-choices li.search-choice-disabled { padding-right: 5px; border: 1px solid #cccccc; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); color: #666666; }
.chosen-container-multi .chosen-choices li.search-choice-focus { background: #d4d4d4; }
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close { background-position: -42px -10px; }
.chosen-container-multi .chosen-results { margin: 0; padding: 0; }
.chosen-container-multi .chosen-drop .result-selected { display: inline-block; color: #cccccc; cursor: default; }

.chosen-container-active .chosen-single { border: 1px solid #5897fb; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
.chosen-container-active.chosen-with-drop .chosen-single { border: 1px solid #aaaaaa; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, white)); background-image: -webkit-linear-gradient(#eeeeee 20%, white 80%); background-image: -moz-linear-gradient(#eeeeee 20%, white 80%); background-image: -o-linear-gradient(#eeeeee 20%, white 80%); background-image: linear-gradient(#eeeeee 20%, #ffffff 80%); box-shadow: 0 1px 0 white inset; }
.chosen-container-active.chosen-with-drop .chosen-single div { border-left: none; background: transparent; }
.chosen-container-active.chosen-with-drop .chosen-single div b { background-position: -18px 2px; }
.chosen-container-active .chosen-choices { border-color: #18c5fe; }
.chosen-container-active .chosen-choices li.search-field input[type="text"] { color: black !important; }

.chosen-disabled { opacity: 0.5 !important; cursor: default; }
.chosen-disabled .chosen-single, .chosen-disabled .chosen-choices .search-choice .search-choice-close { cursor: default; }

.chosen-rtl { text-align: right; }
.chosen-rtl .chosen-single { overflow: visible; padding: 0 8px 0 0; }
.chosen-rtl .chosen-single span { margin-right: 0; margin-left: 26px; direction: rtl; }
.chosen-rtl .chosen-single-with-deselect span { margin-left: 38px; }
.chosen-rtl .chosen-single div { right: auto; left: 3px; }
.chosen-rtl .chosen-single abbr { right: auto; left: 26px; }
.chosen-rtl .chosen-choices li { float: right; }
.chosen-rtl .chosen-choices li.search-field input[type="text"] { direction: rtl; }
.chosen-rtl .chosen-choices li.search-choice { margin: 3px 5px 3px 0; padding: 3px 5px 3px 19px; }
.chosen-rtl .chosen-choices li.search-choice .search-choice-close { right: auto; left: 4px; }
.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop { left: 9999px; }
.chosen-rtl.chosen-container-single .chosen-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
.chosen-rtl .chosen-results li.group-option { padding-right: 15px; padding-left: 0; }
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div { border-right: none; }
.chosen-rtl .chosen-search input[type="text"] { padding: 4px 5px 4px 20px; background: white url("chosen-sprite.png") no-repeat -30px -20px; background: url("chosen-sprite.png") no-repeat -30px -20px; direction: rtl; }
.chosen-rtl.chosen-container-single .chosen-single div b { background-position: 6px 2px; }
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b { background-position: -12px 2px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) { .chosen-rtl .chosen-search input[type="text"] { background-image: url("chosen-sprite@2x.png") !important; background-size: 52px 37px !important; background-repeat: no-repeat !important; }
  .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b { background-image: url("chosen-sprite@2x.png") !important; background-size: 52px 37px !important; background-repeat: no-repeat !important; }
  .chosen-container-single .chosen-search input[type="text"] { background-image: url("chosen-sprite@2x.png") !important; background-size: 52px 37px !important; background-repeat: no-repeat !important; }
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close { background-image: url("chosen-sprite@2x.png") !important; background-size: 52px 37px !important; background-repeat: no-repeat !important; }
  .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span { background-image: url("chosen-sprite@2x.png") !important; background-size: 52px 37px !important; background-repeat: no-repeat !important; } }
.ui-datepicker { width: 328px; border: 1px solid #ededed; background: white; padding: 19px 20px 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1); box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1); }
@media only screen and (max-width: 640px) { .ui-datepicker { width: 262.4px; } }
.ui-datepicker-header { position: relative; padding: 0 30px; margin: 0 -20px; }
.ui-datepicker-prev, .ui-datepicker-next { font-size: 0; position: absolute; top: 50%; margin-top: -11.5px; cursor: pointer; }
.ui-datepicker-prev { background: url("../img/svg/date-left.svg") no-repeat 0 0; -moz-background-size: 13px 23px; -o-background-size: 13px 23px; -webkit-background-size: 13px 23px; background-size: 13px 23px; width: 13px; height: 23px; display: inline-block; left: 13px; }
.ui-datepicker-next { background: url("../img/svg/date-right.svg") no-repeat 0 0; -moz-background-size: 13px 23px; -o-background-size: 13px 23px; -webkit-background-size: 13px 23px; background-size: 13px 23px; width: 13px; height: 23px; display: inline-block; right: 13px; }
.ui-datepicker-title select { border: 1px solid #dddddd; background: white; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 14px; color: #8d8d8d; padding: 10px 6px; -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: ""; position: relative; background: url(../img/svg/arrow-select.svg) no-repeat 90% 50%; margin: 0 10px; cursor: pointer; }
@media only screen and (max-width: 640px) { .ui-datepicker-title select { width: 80px; } }
.ui-datepicker-month { width: 106px; }
.ui-datepicker-year { width: 116px; }
.ui-datepicker-calendar td span, .ui-datepicker-calendar td a, .ui-datepicker-calendar th span, .ui-datepicker-calendar th a { width: 40px; line-height: 40px; text-align: center; display: block; }
@media only screen and (max-width: 640px) { .ui-datepicker-calendar td span, .ui-datepicker-calendar td a, .ui-datepicker-calendar th span, .ui-datepicker-calendar th a { width: 32px; line-height: 32px; } }
.ui-datepicker-calendar thead th { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 10.46px; color: #5a5a5a; }
.ui-datepicker-calendar tbody td a { color: #626262; font-size: 13.89px; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; }
.ui-datepicker-calendar tbody td a:hover { background: #18c5fe; color: white; }
