body
	&.is-big
		.post__inner, .banner__info
			max-width: 940px
	&.is-profile
		.banner_big
			.banner__info
				max-width: 940px
	&.page-error
		height: 100%
		min-height: 500px 
		+r(640)
			min-height: 300px 
		.out
			height: 100%
			+box
			.main
				height: 100% 
				background: url(../img/404.jpg) no-repeat 
				+cover
				background-position: top center 
				+vertical
				position: relative
				&:after
					position: absolute
					top: 0
					bottom: 0
					left: 0
					right: 0
					content: "" 
					background: #000
					+opacity(0.3) 
					z-index: 1 
			.header
				&.is-hidden
					-webkit-transform: translateY(0) 
					-moz-transform: translateY(0) 
					-ms-transform: translateY(0) 
					-o-transform: translateY(0) 
					transform: translateY(0) 
.error
	max-width: 960px
	margin: 0 auto
	display: inline-block
	width: 100%
	vertical-align: middle
	color: #fff 
	text-align: left
	padding: 0 12px 
	+box
	position: relative
	z-index: 2 
	&__title
		+bold
		font-size: 121.88px
		letter-spacing: -0.025em 
		display: block
		+r(640)
			font-size: 60px
	p
		+georgia
		font-style: italic
		font-size: 23px
		letter-spacing: -0.025em 
		max-width: 475px
		+r(640)
			font-size: 12px
.out
	min-width: 320px 
	margin: 0 auto
	overflow: hidden
	padding: 110px 0 0 
	+r(980)
		padding: 165px 0 0 
	+r(640)
		padding: 47px 0 0 
	&_header
		padding: 130px 0 0 
		+r(980)
			padding: 203px 0 0  
		+r(640)
			padding: 45px 0 0  
		.header
			+r(980)
				height: 203px
			+r(640)
				height: 45px 
		.search__filter
			+r(980)	
				padding-bottom: 0
.inner
	max-width: 940px
	padding: 0 24px
	margin: 0 auto  
	+clr
	position: relative
	+r(980)
		padding: 0 12px 
.header
	border-bottom: 2px solid #dddddd 
	position: fixed
	top: 0
	left: 0
	right: 0
	background: #fff
	z-index: 500 
	+transition(transform 0.6s)
	+box
	-webkit-transform: translateY(0) 
	-moz-transform: translateY(0) 
	-ms-transform: translateY(0) 
	-o-transform: translateY(0) 
	transform: translateY(0) 
	+r(980)
		text-align: center
		height: 165px
	+r(640)
		height: 45px 
	&:after
		position: absolute
		top: 100%
		height: 20px
		left: 0
		right: 0
		content: "" 
		display: none
	&.is-hidden
		-webkit-transform: translateY(-100%) 
		-moz-transform: translateY(-100%) 
		-ms-transform: translateY(-100%) 
		-o-transform: translateY(-100%) 
		transform: translateY(-100%) 
		&:after
			display: block
	.inner
		max-width: 1400px
		padding: 20px 24px 
		+r(1360)
			max-width: 940px
		+r(980)
			padding: 20px 12px 20px 
		+r(640)		
			padding: 0 80px
	.search
		width: 492px
		padding: 15px 0 0
		+r(640)
			display: none
			position: absolute
			top: 100%
			background: #fff
			right: 10px
			left: 10px
			margin: 4px 0 0
			width: auto
			padding: 0
			text-align: left
		&.is-active
			+r(640)
				display: block
		&__filter		
			+r(640)
				display: none
	&__right
		float: right
		position: relative
		+r(980)
			float: none
			display: inline-block
			vertical-align: top
		+r(640)
			width: 0
			height: 0
			float: right
			position: static
.logo
	width: 32%
	max-width: 300px*0.70
	+vertical
	float: left
	+r(980)
		display: block
		width: 100%
		margin: 0 auto
		float: none
	+r(640)
		max-width: 90px
		padding: 5px  
	a
		display: inline-block
		vertical-align: middle
		width: 100%
		+r(980)
			max-width: 180px
		img
			width: 100%
.search
	float: right
	width: 100%
	position: relative
	padding: 20px 0 25px
	+clr
	+r(980)
		padding: 20px 0 0 
	&__inner
		position: relative
		&.is-active
			&:before
				+arr(12, 8, #18c5fe, t)
		&:before, &:after
			content: "" 
			position: absolute
			display: none
			+r(640)
				display: block
		&:before
			+arr(12, 8, #cacaca, t)
			top: -7px
			right: 5px
		&:after
			+arr(10, 7, #fff, t)
			top: -6px
			right: 6px
	&__input
		width: 100%
		padding: 11px 40px 9px 20px
		+box
		+reg
		font-size: 16px
		border: 1px solid #dddddd
		+r(640)
			padding: 11px 11px 9px 11px
			font-size: 11px 
		&:focus, &.is-active
			border-color: #18c5fe
	&__btn, .btn-search
		position: absolute
		top: 50%
		right: 11px
		margin-top: -9px
		+svg(search, 18, 18)
		+r(980)
			+svg(search, 17, 17)
			margin-top: -8.5px 
	&__btn
		+r(640)
			display: none
	&__filter
		font-size: 0
		text-align: right
		padding: 17px 0 0 
		float: right
		+r(980)
			width: 100%
			float: none
			text-align: justify
			padding: 17px 0 
		&:after
			content: "" 
			width: 100%
			display: none
			+r(980)
				display: inline-block
		li
			display: inline-block
			vertical-align: top
			margin: 0 0 0 10px 
			+r(980)
				margin: 0 
			a
				+med
				font-size: 12px
				color: #d1d1d1 
				text-transform: uppercase
				+r(980)
					font-size: 22px
				+r(640)
					font-size: 12px
				&:hover, &.is-active
					color: #00baff 
	&__date
		float: left
		font-size: 0
		padding: 16px 0 0 
		+r(980)
			width: 100%
			float: none
			border-bottom: 1px solid #dddddd 
			padding: 16px 0 
		li
			display: inline-block
			vertical-align: top
			margin: 0 20px 0 0
			+r(980)
				margin: 0 
				width: 50%
				text-align: center
			span, input
				display: inline-block
				+bold
				font-size: 14px
				line-height: 1
				color: #8d8d8d 
				text-transform: uppercase				
				cursor: pointer
				+r(980)
					font-size: 22px
				+r(640)
					font-size: 12px
			input
				width: 70px 
				padding: 0 3px
				+box 
				+r(980)
					width: 100px
				+r(640)
					width: 60px
			label
				padding: 0 10px 0 0
				display: inline-block
				position: relative 
				cursor: pointer
				&:before
					content: "" 
					position: absolute
					top: 50%
					right: 0
					margin-top: -2px
					+arr(8, 4, #666666, b)
				input
					&:focus + span
						color: #18c5fe 
	&__block
		border: 1px solid #ededed
		margin-top: -1px
		padding: 20px 18px 18px
		display: none
		&.is-active
			display: block
		+r(980)
			margin-bottom: 15px
		+r(640)
			padding: 10px 9px 9px 
	&__tags
		padding: 18px 0 0 
		+r(640)
			padding: 9px 0 0 
		li
			display: inline-block
			vertical-align: top
			margin: 0 5px 0 0 
			a
				+reg
				font-size: 16px
				color: #8d8d8d
				text-transform: uppercase
				+r(980)
					font-size: 22px
				+r(640)
					font-size: 12px
				&:hover
					color: #00baff
					+bold 
	&__drop
		position: absolute
		top: 100%
		left: 0
		right: 0
		background: #fff
		display: none
		border: 1px solid #cacaca
		border-top: none
		&.is-active
			display: block
		p
			+bold
			color: #a1b1b6 
			padding: 0 20px 
			+r(640)
				padding: 0 11px 
		p, li
			font-size: 14.61px
			margin-bottom: 1px
			line-height: 25px
			+r(640)
				font-size: 10px
				line-height: 1.66
		li
			color: #636363 
			+reg
			padding: 0 25px
			cursor: pointer
			+r(640)
				padding: 0 16px 
			&:hover
				background-color: #EBFAFF
		ul
			padding: 0 0 15px
			+r(640)
				padding: 0 0 8px 
	&__heading
		+bold
		font-size: 13px
		color: #a1b1b6
		text-decoration: underline
		display: block
		padding: 5px 20px 
		background: #ebfaff  
		margin-bottom: 10px
		+r(640)
			font-size: 9px
			padding: 3px 11px 
.btn-search
	position: absolute
	top: 50%
	right: 12px
	margin-top: -9px
	+svg(search, 18, 18)
	display: none
	+r(640)
		display: block
.btn-nav
	float: right
	margin: 23px 0 0 20px
	background: none
	border: none
	cursor: pointer
	position: relative
	width: 28px
	height: 24px 
	display: none
	+r(1360)
		display: block
	+r(640)
		position: absolute
		top: 50%
		left: 12px
		margin: -12px 0 0
	i
		position: absolute
		top: 50%
		left: 0
		margin-top: -2px
		width: 100%
		height: 4px
		background: #d1d1d1
		&:before, &:after
			content: "" 
			position: absolute
			width: 100%
			height: 4px
			background: #d1d1d1
			left: 0
		&:before
			top: -10px
		&:after
			bottom: -10px
	&.is-active
		i
			background: #00baff
			&:before, &:after
				background: #00baff 
.nav
	float: right
	font-size: 0
	padding: 28px 0 0 30px
	display: block
	+r(1360)
		display: none
		position: absolute
		top: 100%
		right: -10px
		padding: 10px 0 
		border: 1px solid #ededed
		background: #fff 
		// margin-top: -25px
		z-index: 100 
		text-align: left
		+r(640)
			right: auto
			left: 2px
			margin: 10px 0 0
	&.is-active
		display: block
	&:before, &:after
		content: "" 
		position: absolute
		bottom: 100%
		display: none
		+r(1360)
			display: block
	&:before
		right: 13px
		+arr(22, 11, #ededed, t)
		+r(640)
			right: auto
			left: 13px
	&:after
		right: 15px
		+arr(18, 9, #fff, t)
		+r(640)
			right: auto
			left: 15px
	ul
		&:before
			content: "Меню"
			padding: 0 20px 6px
			+bold
			font-size: 18px
			line-height: 30px
			color: #494949
			text-transform: uppercase  
			display: none
			+r(1360)
				display: block
	li
		display: inline-block
		vertical-align: top
		margin: 0 0 0 22px 
		+r(1360)
			display: block
			margin: 0 
	a
		+bold
		font-size: 14px
		line-height: 1
		color: #494949
		+opacity(0.8)
		text-transform: uppercase
		+text-shadow(0.5px 0.9px 0 rgba(255, 255, 255, 0.7))
		+r(1360)
			+text-shadow(none)
			padding: 0 20px
			line-height: 40px 
			+opacity(1)
			display: block
		&:hover
			+opacity(1)
			+r(1360)
				background: #00baff
				color: #fff  
.sticker
	max-width: 940px
	margin: 0 auto
	background: #f4f4f4
	p
		+reg
		font-size: 14px
		line-height: 1.3
		color: #242424 
		padding: 10px 20px 
		+r(640)
			padding: 10px 12px 
			font-size: 9px
			
.tags
	font-size: 0
	margin-bottom: 20px
	li
		display: inline-block
		vertical-align: top
		margin: 0 10px 10px 0
		+r(640)
			margin: 0 5px 5px 0 
		a, span
			padding: 9px 30px 8px 10px 
			position: relative
			+med
			font-size: 17px
			line-height: 1
			color: #4e4e4e 
			background: #f7fdff
			border: 2px solid #18c5fe
			+border-radius(2px) 
			display: block
			text-transform: uppercase
			+r(640)
				padding: 4.5px 15px 3px 5px
				font-size: 8.5px
				border-width: 1px 
			&:before
				content: "" 
				position: absolute
				top: 10.5px
				right: 10px
				+s(t-close)
				cursor: pointer
				+opacity(0.8)
				+r(640)
					width: 6.5px
					height: 6.5px 
					background: url(../img/icons/t-close.png) no-repeat
					+cover
					margin-top: -5px
					right: 5px
.tabs
	font-size: 0
	margin: 0 -1px 
	li
		display: inline-block
		vertical-align: top
		width: 25%
		padding: 0 1px 
		+box
		+r(640)
			padding: 0 0.5px 
		a
			background: #ededed
			border: 1px solid #ededed
			display: block 
			+reg
			font-size: 24px
			line-height: 1
			color: #8d8d8d
			padding: 13px 0 11px 0
			text-transform: uppercase
			text-align: center 
			+r(640)
				font-size: 12px
				padding: 7px 0 6px 
			&.is-active
				background: #00baff 
				color: #fff 
				
.banner
	+cover
	background-repeat: no-repeat
	min-height: 320px
	position: relative
	display: block
	+r(640)
		min-height: 220px 
	&_big
		min-height: 475px 
		margin-bottom: 18px
		+r(640)
			min-height: 265px 
	&:before
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: #000
		+opacity(0.4)
		content: ""  
	&__inner
		position: absolute
		bottom: 0
		left: 0
		right: 0
	&__info
		max-width: 620px
		margin: 0 auto
		padding: 15px 24px 15px 
		+r(980)
			padding: 15px 12px 15px
	h3, p
		color: #fff 
	h3
		margin-bottom: 10px
	p
		+light
		font-size: 18px
		line-height: 1.2
		+r(640)
			font-size: 10px
.posts	
	background-image: -moz-linear-gradient(bottom, #FFF 0%, #FFF 12%, #FFF 14%, #F3F3F3 100%)
	background-image: -o-linear-gradient(bottom, #FFF 0%, #FFF 12%, #FFF 14%, #F3F3F3 100%)
	background-image: -webkit-linear-gradient(bottom, #FFF 0%, #FFF 12%, #FFF 14%, #F3F3F3 100%)
	background-image: linear-gradient(to top, #FFF 0%, #FFF 12%, #FFF 14%, #F3F3F3 100%)
	padding-bottom: 20px 		
.post
	border-bottom: 1px solid #dddddd 
	&__inner
		max-width: 622px
		margin: 0 auto
		padding: 17px 24px 10px 
		+r(980)
			padding: 20px 12px 20px
		+r(640)
			padding: 8.5px 12px 5px 
	time
		+reg
		font-size: 18px
		color: #949494
		padding: 10px 0 7px 
		display: block
		+r(980)
			font-size: 20px
		+r(640)
			font-size: 9px
		a
			color: #949494
	p
		+georgia
		color: #494949
		font-size: 20px
		line-height: 1.3
		display: inline
		+r(980)
			font-size: 22px
		+r(640)
			font-size: 12px
		a
			color: #00C0FF
	b
		font-size: 20px
		line-height: 1.3
		display: inline
		+bold
		color: #000
		+r(980)
			font-size: 22px
		+r(640)
			font-size: 12px
	&__info
		padding-bottom: 13px 
		cursor: pointer
		p
			cursor: pointer
		+r(640)
			padding-bottom: 7px
	&__bottom
		padding: 25px 0 10px
		+clr
		display: none
		+r(640)
			padding: 12.5px 0 5px 
	.social
		margin: 0 15px 0 0
		float: left
		padding: 8px 0 0
		+r(980)
			margin: 0 15px 10px 0
		+r(640)
			padding: 5px 0 0 
	.p-tags
		display: inline-block
		vertical-align: top
		padding: 14px 0 0 
		+r(980)
			display: block
			clear: both
	.link
		float: right
	&__top
		padding: 0 0 10px
		position: relative
		&:before
			content: "" 
			position: absolute
			top: 0
			right: 0
			+arr(43, 43, #00c0ff, tr)
			+r(640)
				+arr(21, 21, #00c0ff, tr)
		a
			+bold
			font-size: 20px
			color: #00c0ff
			text-transform: uppercase 
			+r(640)
				font-size: 10px
	h5
		+bold
		font-size: 20px
		text-transform: uppercase
		color: #000
		float: left
		margin: 0 10px 0 0 
		padding: 6px 0 0
		+r(980)
			font-size: 16px
			padding: 20px 0 0 
		+r(640)
			font-size: 10px
			padding: 11px 0 0
	.form-share
		clear: both
		margin: 0 -10px
		padding: 10px 0 0  
		+r(640)
			margin: 0 -5px 
			padding: 0 
	.more
		padding-bottom: 20px
.social
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		margin-right: 5px
	a
		display: inline-block
		vertical-align: top
		&.is-fb
			+svg(fb, 24, 24)
			+r(980)
				+svg(fb, 44, 44)
			+r(640)
				+svg(fb, 24, 24)
		&.is-tw
			+svg(tw, 24, 24)
			+r(980)
				+svg(tw, 44, 44)
			+r(640)
				+svg(tw, 24, 24)
		&.is-in
			+svg(in, 24, 24)
			+r(980)
				+svg(in, 44, 44)
			+r(640)
				+svg(in, 24, 24)
		&.is-vk
			+svg(vk, 24, 24)
			+r(980)
				+svg(vk, 44, 44)
			+r(640)
				+svg(vk, 24, 24)
		&.is-ok
			+s(ok)
			+r(980)
				+s(ok-2)
			+r(640)
				+s(ok)


.p-tags
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		margin-right: 10px
		a
			+bold
			font-size: 12px
			color: #18c5fe
			text-transform: uppercase 
			+r(980)
				font-size: 18px
			+r(640)
				font-size: 11px

.link
	+reg
	font-size: 14px
	color: #cfcfcf
	border: 1px solid #dddddd
	padding: 11px 10px 
	width: 100%
	max-width: 140px
	+box 
	display: inline-block
	vertical-align: top
	background: #ffffff 
	+r(980)
		padding: 17px 12px 16px
		font-size: 22px
		max-width: 286px 
	+r(640)
		padding: 9px 8px 
		font-size: 12px
		max-width: 130px 
.video
	width: 100%
	height: 540px
	max-width: 940px
	margin: 0 auto
	position: relative
	+r(980)
		height: 400px
	+r(640)
		height: 180px 
	iframe
		width: 100%
		height: 100%
.video-wrap
	max-width: 940px
	margin: 0 auto
	position: relative
	h3
		color: #000 
		width: 80%
		padding: 20px 0px 
		+r(640)
			padding: 20px 12px 
			width: 100%
	h2
		color: #141414
		padding: 20px 0px
		width: 80%
		+r(640)
			padding: 20px 12px 
			width: 90%
.video-text
	padding: 20px 0
	+r(980)
		padding: 20px 25px 
	+r(640)
		padding: 20px 12px 
	p
		+reg
		font-size: 20px
		color: #323232
		letter-spacing: -0.025em  
		line-height: 1.3
		+r(640)
			font-size: 10px


.more
	.arr-bot
		margin: 0 auto
		
.promo
	position: relative
	+cover
	background-repeat: no-repeat
	&:before
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: #000
		+opacity(0.4)
		content: ""  
	&__inner
		max-width: 940px
		margin: 0 auto
		overflow: hidden
		text-align: center
		padding: 154px 25px 20px
		position: relative
		z-index: 2 
		+r(640)
			padding: 77px 12px 10px 
		h3
			text-transform: uppercase
			max-width: 740px
			margin: 0 auto
			line-height: 1.6
			color: #fff 
			font-size: 30px
			+r(640)
				font-size: 15px
	&__btns
		padding: 130px 0 0
		margin: 0 -10px
		font-size: 0
	&__btn
		width: 33.3%
		padding: 0 10px 20px
		+box 
		display: inline-block
		vertical-align: top
		+r(400)
			width: 100%
			max-width: 250px
.share
	padding: 21px 5px 23px
	max-width: 930px
	margin: 0 auto
	background: #f3f3f3 
	+r(640)
		padding: 10px 5px 10px 
	&__social
		float: left
		font-size: 0
		max-width: 325px
		width: 100%
		padding: 9px 0 0 
		+r(640)
			max-width: 240px
			padding: 0 
		li
			display: inline-block
			vertical-align: top
			margin: 0 5px 7px
		a
			display: block
			&.is-fb
				+s(s-fb)
				+r(640)
					background-image: url(../img/icons/s-fb.png)
					+cover
					background-repeat: no-repeat
					width: 71px*0.70
					height: 24px*0.70
			&.is-tw
				+s(s-tw)
				+r(640)
					background-image: url(../img/icons/s-tw.png)
					+cover
					background-repeat: no-repeat
					width: 71px*0.70
					height: 24px*0.70
			&.is-vk
				+s(s-vk)
				+r(640)
					background-image: url(../img/icons/s-vk.png)
					+cover
					background-repeat: no-repeat
					width: 71px*0.70
					height: 24px*0.70
			&.is-ok
				+s(s-ok)
				+r(640)
					background-image: url(../img/icons/s-ok.png)
					+cover
					background-repeat: no-repeat
					width: 71px*0.70
					height: 24px*0.70
	&__right
		padding: 0 5px 
		overflow: hidden
		color: #242424
		text-align: right
		font-size: 0
		+r(640)
			padding: 0 5px
			text-align: left
			clear: both
		h5, p
			display: inline-block
			line-height: 24px
			padding: 9px 0 7px 
			+r(640)
				line-height: 18px
				padding: 0 
		h5
			+bold
			font-size: 14px
			+r(640)
				font-size: 7px
		p
			+reg
			font-size: 18px
			+r(640)
				font-size: 9px
	form
		max-width: 460px
		display: inline-block
		width: 100%
		+r(640)
			margin: 0 -5px 
		.share__box
			+r(640)
				width: 50%
				padding: 5px 5px 0 
	&__box
		display: inline-block
		vertical-align: top
		width: 50%
		padding: 0 20px 0 0 
		+box
		max-width: 270px
		+r(640)
			width: auto
	&__input
		background-color: #FFF
		border: 1px solid #CACACA
		color: #cacaca
		+reg
		font-size: 14px
		padding: 11px
		width: 100%
		+box
		+r(640)
			padding: 9px
			font-size: 9px 
	&__btn
		width: 100%
		background: #18c5fe		
		padding: 12px
		+reg
		font-size: 14px
		text-transform: uppercase
		color: #fff
		+box
		cursor: pointer 
		position: relative
		+r(640)
			padding: 10px
			font-size: 9px 
		&:active
			top: 1px
	&__form
		overflow: hidden		
		padding: 0 5px 
		font-size: 0
		+r(780)
			clear: both
.comment
	padding: 35px 12px 40px
	border-bottom: 1px solid #e9e9e9
	+r(640)
		padding: 20px 12px 20px 
	&__inner
		max-width: 940px
		margin: 0 auto
		+clr
	.author
		float: left
		margin: 5px 20px 0 0 
		+r(980)
			margin: 0 20px*0.75 0 0 
		+r(640)
			float: none
	&__text
		overflow: hidden
		p
			+georgia
			font-style: italic
			font-size: 20px
			line-height: 1.3
			color: #969696 
			+r(640)
				font-size: 10px
.author
	width: 140px
	+clr
	+r(640)
		width: 100%
	&__img
		display: block
		font-size: 0
		margin-bottom: 14px
		max-width: 140px
		+r(640)
			max-width: 70px
			float: left
		img
			width: 100%
	&__info
		+r(640)
			overflow: hidden
			padding: 0 12px 
		a
			+georgia
			font-style: italic
			font-size: 18px
			color: #00BAFF
			+r(640)
				font-size: 9px
	&__title
		+bold
		color: #2E2E2E
		font-size: 12px
		text-transform: uppercase
		display: block
		+r(640)
			font-size: 6px
		
.box
	&__inner
		+clr
		max-width: 940px
		margin: 0 auto
		padding: 25px 0 15px 
		+r(640)
			padding: 15px 0 5px 
	&__right
		float: right
		font-size: 0
		width: 32% 
		padding: 5px 0 0 
		margin: 0 0 15px 10px 
		text-align: center
		+box
		+r(640)
			display: none
		img
			max-width: 100%
	&__text
		overflow: hidden
		padding: 0 0 
		+r(980)
			padding: 0 25px 
		+r(640)
			padding: 0 12px 
		p, h4
			font-size: 20px
			line-height: 1.3
			+r(640)
				font-size: 10px
		h4
			+bold
			color: #000
		p
			+georgia
			color: #494949
			margin-bottom: 55px
			+r(640)
				margin-bottom: 30px
.image
	font-size: 0
	margin-bottom: 20px
	+r(640)
		margin-bottom: 10px
	img
		width: 100%
		display: block
		margin: 0 auto 35px
		max-width: 1280px
		+r(640)
			margin-bottom: 15px 
	&__inner
		max-width: 940px
		margin: 0 auto
		text-align: right
		span
			+georgia
			font-style: italic
			font-size: 18px
			color: #767676 
			display: inline-block
			text-transform: uppercase
			+r(980)
				padding: 0 25px
			+r(640)
				padding: 0 12px 
				font-size: 9px

.quote
	text-align: center
	margin: 0 auto 
	padding: 20px 12px
	+r(640)
		padding: 10px 12px
	&:before
		content: "" 
		+svg(quote, 70, 56)
		display: block
		margin: 0 auto 20px
		+r(640)
			+svg(quote, 35, 28)
			margin: 0 auto 10px
			display: block 
	blockquote
		margin: 0
		padding: 0
		display: inline-block
		font-size: 25px
		line-height: 1.28
		color: #2e2e2e
		+georgia
		font-style: italic
		max-width: 620px
		+r(640)
			font-size: 13px 
	&__author
		text-align: center
		padding: 30px 0
		+r(640)
			padding: 15px 0 
		span
			+med
			font-size: 18px
			color: #2E2E2E
			display: block
			+r(640)
				font-size: 9px
			a
				color: #2E2E2E
	&__img
		width: 150px
		height: 150px
		+border-radius(50%)
		overflow: hidden
		margin: 0 auto 20px
		+r(640)
			width: 75px
			height: 75px
			margin-bottom: 10px
		img
			width: 100%
.text	
	padding: 20px 0 25px
	+r(640)
		padding: 20px 0 15px
	&__inner
		max-width: 940px
		margin: 0 auto
		padding: 0 25px 0
		+r(640)
			padding: 0 12px 0
	&_mod
		background: #f3f3f3
	p, h4, b
		font-size: 20px
		line-height: 1.3
		+r(640)
			font-size: 10px
	h4
		+bold
		color: #000
		margin-bottom: 5px
	p
		+georgia
		color: #494949
		display: inline
		a
			color: #00c0ff 
	b
		+bold
		color: #000000 
		display: inline
	time
		+reg
		font-size: 18px
		color: #949494
		padding: 5px 0 7px 
		display: block
		+r(980)
			font-size: 20px
		+r(640)
			font-size: 9px

.slider
	margin: 50px 0 30px
	background: #f3f3f3 
	+r(640)
		margin: 25px 0 15px 
	&__inner
		max-width: 940px
		margin: 0 auto
		padding: 10px 0  
	.video-wrap
		+r(1110)
			padding-right: 5px
			padding-right: 5px  
			+box
	&__btns
		.slick-prev, .slick-next
			position: static

.slideshare
	max-width: 940px
	height: 770px
	position: relative
	margin: 0 auto 0
	+r(980)
		height: 600px
		margin-bottom: 40px 
	+r(640)
		height: 320px 
		margin-bottom: 20px
	iframe
		width: 100%
		height: 100%


.banners
	padding: 30px 0 0 
	
.info
	max-width: 940px
	margin: 0 auto 20px
	background: #fff
	font-size: 0
	padding: 0 25px
	+r(640)
		padding: 0 12px 
	li
		display: inline-block
		vertical-align: top
		width: 50%
		position: relative
		+box
		padding: 20px 20px 20px 0 
		text-align: justify
		+r(640)
			padding: 10px 10px 10px 0  
		+r(400)
			width: 100%
		&:after
			display: inline-block
			content: "" 
			width: 100%
		i
			&:after
				content: "" 
				display: inline-block
				vertical-align: top
		&.is-sight
			i
				&:after
					margin-top: 5px
					+svg(is-sight, 52, 52)
					+r(640)
						+svg(is-sight, 26, 26)
		&.is-books
			i
				&:after
					margin-top: 2px
					+svg(is-books, 57, 51)
					+r(640)
						+svg(is-books, 28, 25)
		&.is-forecast
			i
				&:after
					margin-top: 5px
					+svg(is-forecast, 46, 57)
					+r(640)
						+svg(is-forecast, 23, 28)
		&.is-tag
			i
				&:after
					margin-top: 5px
					+svg(is-tag, 54, 53)
					+r(640)
						+svg(is-tag, 27, 26)
		&.is-crown
			.info__text
				p
					max-width: 240px
			i
				&:after
					+svg(is-crown, 48, 40)
					+r(640)
						+svg(is-crown, 24, 20)
		&.is-marker
			i
				&:after
					+svg(is-marker, 32, 50)
					+r(640)
						+svg(is-marker, 16, 25)
		&.is-book
			i
				&:after
					+svg(is-book, 39, 47)
					+r(640)
						+svg(is-book, 19, 23)
		&.is-star
			i
				&:after
					+svg(is-star, 41, 39)
					+r(640)
						+svg(is-star, 20, 19)
		&.is-dollar
			i
				&:after
					+svg(is-dollar, 48, 48)
					+r(640)
						+svg(is-dollar, 24, 24)
		&.is-calendar
			i
				&:after
					+svg(is-calendar, 45, 48)
					+r(640)
						+svg(is-calendar, 22, 24)
		&.is-clip
			i
				&:after
					+svg(is-clip, 48, 48)
					+r(640)
						+svg(is-clip, 24, 24)
			p
				a
					+reg
	&__icon
		width: 60px
		height: 70px
		+vertical
		display: inline-block
		vertical-align: top
		+r(640)
			height: 35px
			width: 30px
	&__text
		overflow: hidden
		display: inline-block
		vertical-align: top
		width: calc(100% - 80px) 
		text-align: left
		+r(640)
			width: calc(100% - 40px) 
	p
		+reg
		font-size: 20px
		line-height: 1.3
		letter-spacing: -0.025em 
		color: #494949
		+r(640)
			font-size: 10px
		a
			color: #00baff
			+italic 
	&.is-middle
		.info__icon, .info__text
			vertical-align: middle
		.info__icon
			&:after
				vertical-align: middle
				
.result
	max-width: 622px
	margin: 0 auto
	padding: 30px 25px 20px
	+r(640)
		padding: 15px 12px 10px
	p, .tags
		display: inline-block
		vertical-align: top
	p
		+bold
		font-size: 20px
		line-height: 35px
		margin: 0 7px 7px 0 
		+r(640)
			font-size: 10px
			line-height: 17px
	.tags
		margin: 0
		a, span
			&:before
				display: none
				
.form-share
	overflow: hidden
	font-size: 0
	+r(640)
		clear: both
		margin: 0 -5px
	&__box
		display: inline-block
		vertical-align: top
		width: 50%
		padding: 0 10px 10px 
		+box
		+r(980)
			padding: 10px
		+r(640)
			padding: 0 5px 10px 
			
.calend
	position: relative
	+cover
	background-repeat: no-repeat
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		background: #000
		+opacity(0.3)
	&__inner
		height: 475px
		position: relative
		max-width: 940px
		margin: 0 auto
	&__info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		color: #fff
		padding: 0 12px 15px
	&__title
		+med
		font-size: 45px
		letter-spacing: -0.025em 
		max-width: 300px
		display: block
		+r(640)
			font-size: 22px
			max-width: 150px
	p
		+light
		font-size: 18px
		letter-spacing: -0.025em 
		width: 90%
		+r(640)
			font-size: 9px
	&__bottom
		position: relative
		background: #33cdf5
		text-align: center
		a
			display: block
			padding: 12px 12px 13px
			+r(640)
				padding: 6px 12px 7px 
		span
			display: inline-block
			position: relative
			font-size: 18px
			+georgia
			font-style: italic
			color: #fff
			letter-spacing: -0.025em 
			+r(640)
				font-size: 9px
			i
				position: relative
				top: 0
				right: 0
				border: 1px solid #fff
				+border-radius(50%)
				width: 25px
				height: 25px
				+box
				margin: 0 0 0 10px
				display: inline-block
				vertical-align: top 
				+r(640)
					width: 13px
					height: 13px
					margin: 0 0 0 5px 
				&:before
					content: ""
					position: absolute
					top: 6px
					left: 9px
					+s(is-w-arr)
					+r(640)
						width: 3px
						height: 5px
						background: url(../img/icons/is-w-arr.png) no-repeat
						+cover
						top: 3px
						left: 4px
	&__date
		position: absolute
		top: 41px
		right: 0
		text-align: center
		width: 100%
		max-width: 350px
		+r(640)
			font-size: 15px
			top: 27px
			max-width: 280px
		h3
			+reg
			font-size: 29px
			letter-spacing: -0.025em 
			color: #fff
			text-transform: uppercase
			padding: 0 25px 0 0
			cursor: pointer
			display: inline-block
			position: relative
			+r(640)
				font-size: 15px
				padding: 0 15px 0 0 
			&:before
				content: "" 
				position: absolute
				right: 0
				top: 50%
				+arr(19, 9, #fff, b)
				margin-top: -4px
				+r(640)
					+arr(10, 5, #fff, b)
					margin-top: -3px
.calendar
	position: absolute
	top: 0
	right: 0
	z-index: 5
	width: 100% 
	max-width: 350px
	border: 1px solid #ededed
	background: #fff
	padding: 19px 10px 15px
	+box
	+box-shadow(0 0px 10px 0px rgba(0, 0, 0, 0.1)) 
	display: none
	+r(640)
		max-width: 280px
		padding: 0 10px 15px 
	&.is-active
		display: block
	.ui-datepicker
		+box-shadow(none)
		border: none
	&__title
		position: relative
		background: #fff
		z-index: 10 
		padding: 10px 10px 
		text-align: center
		+r(640)
			padding: 20px 10px 
		&.is-active
			visibility: hidden
			+opacity(0)
	h3		
		+reg
		font-size: 29px
		letter-spacing: -0.025em 
		color: #18c5fe 
		display: inline-block
		position: relative
		padding: 0 25px 0 0
		text-transform: uppercase
		+r(640)
			font-size: 15px
			padding: 0 15px 0 0 
		i
			position: absolute
			top: 50%
			right: 0
			margin-top: -7px
			+svg(calendar-close, 14, 14)
			cursor: pointer
			+r(640)
				+svg(calendar-close, 9, 9)
				margin-top: -5px 
	&__event
		padding: 0 20px
		p
			+italic
			font-size: 13.89px
			color: #626262
			line-height: 1.2
			border: 1px solid #dddddd
			margin: 0 0 7px
			padding: 8px   